*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4{
    font-family:'Poppins';
}

p{
    font-family: Roboto;
    font-size: 20px;
}

a{  
    color: #183b56;
    display: inline-block;
    text-decoration: none;
    font-family: Roboto;
}

ul{
    color: #183b56;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.primary-button{
    border: 1px solid gray;
    padding: 12px 24px;
    font-family: 'Poppins';
    border-radius: 5px;
}

.secondary-button{
    padding: 12px 24px;
    font-family: 'Poppins';
    border-radius: 5px;
    background-color: #2294ed;
    color: white;
}

.container{
    max-width: 1269px;
    margin-inline: auto;
    padding-inline: 20px;
}

.primary-button:hover{
    border: 1px solid #2294ed;
    color: #2294ed;
}

.secondary-button:hover{
    background-color: #255f8c;
    color: white;
}

a:hover{
    color: #2294ed;
}
/* *********************************************************** */

.top{
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2294ed;
    color: white;
    background-image: url("bgc1.png");
    background-size: cover;
}

/* ******************************************************************* */

.nav-bar{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}
.logo{
    height: 46px;
}
.logo img{
    height: 100%;
    padding-top: 5px;
    width: 200px;
}

/* ****************************************************************************** */

.hero-box{
    
    height: 430px;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.left-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 450px;
    
}

.right-img img{
    height: 100%;
    width: 600px;
}

.start-btn{
    width: 140px;
}

/* ******************************************************************** */

.companies{
    height: 180px;
}

.banner{
    height: 50%;
}

.banner p{
    position: relative;
    text-align: center;
    top: 50px;
}

.comp-logos{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comp-logos img{
    height: 45.98px;
    width: 120.41px;
}

/* ********************************************************************************* */

.discovery{
    height: 602.98px;
    padding: 40px;
    padding: 10px 20px 0px;
    background-image: url("discover.svg");
    background-size:cover;
}

.discover-banner{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.discovery-boxes{
    display: flex;
    width: 1186px;
    height:505px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    position: relative;
    left: 55px;
}
.box{
    width: 355px;
    height: 212.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.box p{
    text-align: center;
}
.box img{
    height: 40px;
    width: 40px;
}

/* ********************************************************************* */

.big-hero-box{
    height: 1536.72px;
    padding:10px 20px 0px;
}

.boxes{
    display: flex;
}

.img{
    height: 502.67px;
    width:623.17px;
    
}
.img img{
    height: 502.67px;
    width:623.17px;
    padding: 0px 40px;
}

.content{
    line-height: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 30px;
}
#heading{
    font-weight: 500;
    font-family: Poppins;
}
.content h3{
    font-size: 32px;
    font-weight: 500;
}

#description{
    color: #577592;
    width: 430px;
}
#logo1{
    height: 30px;
    width: 105px;
}
#comment{
    color: #183b56;
    font-weight: 600;
    width: 400px;
}

.person{
    display: flex;
    width: 532px;
    height: 48px;
}
#person-img{
    width: 48px;
    height: 48px;
}
#name{
    width: 156px;
    height: 25px;
}
.info{
    padding-left: 10px;
}

#logo2{
    width: 74.2px;
    height: 30px;
}

/* ************************************************************************* */

.examples{
    padding: 10px 20px 0px;
    height: 530px;
}
.examples-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example-images{
    display: flex;
    height: 358px;
    justify-content: space-evenly;
}
.example-box{
    width: 278.23px;
    height: 333px;
    background-size: cover;
}

.example-box p{
    padding: 5px;
    font-size: 24px;
    font-family: Poppins;
    color: white;
    font-weight: 500;
    position: relative;
    top:60%;
}

/* **************************************************************************** */

.panel{
    height: 646px;
    padding:30px 20px;
    background-color: #183b54;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-content{
    width: 593px;
    height: 586px;
    padding: 30px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 35px;
}

.panel-content h1{
    color: white;
}

.panel-content p{
    color: #b9cde4;
    font-size: 20px;
    font-weight: 600;
    font-family: Roboto;
}

#note{
    color: white;
    font-weight: 700;
}
.panel-img{
    background-image: url("last.png");
    background-size: cover;
    width: 593px;
    height: 586px;
    padding: 30px 0px 50px;
}

td{
    color: #b9cde4;
    font-weight: 550;
    font-family: Roboto;
}

#btn2{
    color: #b9cde4;
}
#or{
    color: #b9cde4;
    font-size:x-large;
}

/* ************************************************************** */

.start{
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

/* ***************************************************** */

.end{
    height: 450px;
    background-color: #ebf2fa;
    display: flex;
    justify-content: space-evenly;
    padding: 80px 20px;
}

.panels{
    display: flex;
    flex-direction: column;
    
}

#footer-ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    top: 15px;
}

/* *************************************************************** */

.foot{
    padding: 20px 0px;
    height: 64px;
    background-color: #b9cde4;
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
}
.banners{
    display: flex;
    gap:30px;
}

.contact{
    display: flex;
    gap: 15px;
}

.contact img{
    height: 15px;
    width: 15px;
}

.banners p{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    color: #183b56;
}

