@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html,
body {
    width: 100%;
    height: 100%;
}

#page1 {
    padding: 0 2vw;
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0vw;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-buttons h4 {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.572);
    border-radius: 40px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all ease .5s;
    overflow: hidden;
}

.nav-buttons h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease .5s;
}

.nav-buttons h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-buttons h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

.nav-buttons h4:hover a {
    color: white;
}

#content {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#right h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
    filter: blur(20px);

}

#shape1 {
    height: 100%;
    width: 100%;
    background-color: #FE330A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;

}

#shape2 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE330A, #fe330adb);
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: animation2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

#shape3 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE330A, #fe330adb);
    border-radius: 50%;
    filter: blur(30px);
    position: absolute;
    animation-name: animation1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}


@keyframes animation2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-30%, 20%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

#text {
    white-space: nowrap;
    overflow-x: auto;
}

#text::-webkit-scrollbar {
    display: none;
}

.container {
    white-space: nowrap;
    display: inline-block;
    animation-name: text-move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#text h1 {
    font-size: 9vw;
    display: inline-block;
}

#icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE330A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes text-move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2content {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
    position: relative;
    z-index: 9;
}

#page2content h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#page2contentright {
    width: 20%;
}

#page2contentright img {
    width: 100%;
    border-radius: 15px;
}

#page2contentright p {
    font-weight: 200;
    margin-top: 2vw;
}

#page2shape {
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #FE330A, #fe330adb);
    /*color will go to top right*/
    top: 60%;
    left: 20%;
    filter: blur(20px);
    animation-name: anime;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime {
    from {
        transform: translate(10%, -10%) skew(0);
    }

    to {
        transform: translate(-10%, 10%) skew(-12deg);
        /* skew changes shape */
    }
}


#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

.elem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.292);
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;

}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    top: -100%;
    transition: all ease 0.2s;
    left:0;
}
.elem:hover .overlay{
    top:0;
}

#image-container{
    background-color: red;
    height: 29vw;
    width: 23vw;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    border-radius: 25px;
    display: none;
    background-position: center;
    background-size: cover;
}

